spring:
  application:
    name: owner-consumer-service
  profiles:
    active:
    - dev
    - local

server:
  port: ${PORT:8090}

eureka:
  instance:
    hostname: localhost
  client:
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
 
owner-producer-service:
  ribbon:
    eureka:
      enabled: true
    listOfServers: com.netflix.niws.loadbalancer.DiscoveryEnabledNIWSServerList
    ServerListRefreshInterval: 1000
